    /*
			NOTE: Commenting is a bit different in CSS. 
		  They start with forward-slash + asterisk 
		  and end with back-slash + asterisk.
		  */

    a:-webkit-any-link {
        color: #777777;
        /* cursor: pointer; */
        text-decoration: none;
    }

    h1 {
      /* Put a 15-pixel margin at the bottom of the heading. */
      margin-bottom: 15px;
      /* Change the size of your font to 60 pixels high. */
      font-size: 38px;
      /* This will color the heading font white. */
      color: white;
      /* Align the text to the center of its enclosing element (e.g. div). */
      text-align: center;
      /* The background of the heading element will now be black. */
      background-color: teal;
      padding:10px;
    }
    
    .namebox{
        position: absolute;
        padding-bottom:1%;
        height: 10%;
        width: 25%;
        left: 5%;
    }

    .navbox{
        /* float: left; */
        position: absolute;
        height: 10%;
        width: 30%;
        right: 0%;
        top: 5%;
    }
    
    .grayhr{
        position: relative;
        height: 2px;
        border: 0;
        top: -10px;
        background-color: darkgray;
    }

    /* h2 heading tags */
    h2 {
      text-align: center;
      color: #777777;
      font-size: 20px;
    }
    
    .graybox{
        position: absolute;
        height: 90%;
        width: 100%;
        top: 10%;
        background-color: lightgray;
    }
    
    .footer{
        position: sticky;
        /* position:absolute; */
        height: 10%;
        width: 100%;
        top: 100%;
         /* bottom: 0; */
        background-color: gray;
    }

    .footertxt{
        /* position: relative; */
        text-align: center;
        color: white;
        font-size: 16px;
    }

    .bluehr{
        position: relative;
        height: 10px;
        border: 0;
        top: -10px;
        background-color: teal;
    }

    h3 {      
        font-size: 30px;
        font: Trebuchet; 
        text-align: left;
        font-weight: bold;
        color: teal;
    }
    
    .aboutbox{
        float: left;
        position: absolute;
        margin: 0%;
        padding: 1.5%;
        height: 80%;
        width: 60%;
        left: 5%;
        top: 15%;
        background-color: white;
        color: #777777;
        overflow: scroll;
    }
    
    /* All img tags */
    .profilepic{
        position: relative;
        margin-right: 2%;
        width: 25%;
        border: 1px solid #000000;
    }

    .thumbnail{
        /* position: absolute; */
        display: inline;
        float: left;
        /* margin-left: 5%; */
        width: 40%;
        margin: 3%;
        top: 20%;
        border: 1px solid lightgray;
    }
    
    .connectwithme{
        float: left;
        position: absolute;
        background-color: white;
        padding: 1%;
        width: 20%;
        right: 5%;
        top: 15%;
    }

    .thumbnailconnect{
        width: 30%;
        margin: 1%;    
    }

    img {
      /* 
				Center a block element in the middle of its enclosing tag.
				When you use the "auto" rule on both left and right margins, 
				your browser will do the math necessary to center a block element.
				*/
      /* margin-left: auto;
      margin-right: auto; */
      float: left;
      /* Block display (more on this later) */
      display: block;
    }

    /* All p tags */
    p {
      text-align: left;
      font-size: 20px;
      color: #777777;
      /* Bold the text. */
      font-weight: bold;
    }

    input:focus {
        background-color: lightblue;
    }
    
    .container {
        position: relative;
        text-align: center;
        color: white;
        padding:1%;
    }

    .topleft {
        position: absolute;
        top: 35%;
        left: 18%;      
        background-color: teal;
        color:aliceblue;
    }

    .topright {
        position: absolute;
        top: 35%;
        left: 65%;      
        background-color: teal;
        color:aliceblue;
    }

    .midleft {
        position: absolute;
        top: 120%;
        left: 18%;      
        background-color: teal;
        color:aliceblue;
    }

    .midright {
        position: absolute;
        top: 120%;
        left: 60%;
        background-color: teal;
        color:aliceblue;
    }
    
    .botleft {
        position: absolute;
        top: 190%;
        left: 15%;      
        background-color: teal;
        color:aliceblue;
    }

    /*
      These rules take effect when the browser's width
      is either 980px or less.
    */
    @media screen and (max-width: 980px) {
        body {
          background-color: red;
        }

        .aboutbox{
            width:30%;
            left:10%;
        }
        
        .namebox{
            left:10%;
            width:25%;
        }

        .connectwithme{
            width:25%;
            /* height: 10%; */
        }

        .thumbnailconnect{
            width: 30%;
            margin: 1%;    
        }

        .thumbnail{
            width: 80%;    
        }
        
        .topleft {
            top: 30%;
            left: 30%;      
        }

        .topright {
            top: 70%;
            left: 30%;      
        }
    
        .midleft {
            top: 110%;
            left: 30%;      
        }
    
        .midright {
            top: 150%;
            left: 15%;      
        }
        
        .botleft {
            top: 190%;
            left: 15%;      
        }
    
    }
    /*
      These rules take effect when the browser's width
      is either 768px or less.
    */
    @media screen and (min-device-width: 640px) and (max-device-width: 768px) {
      body {
        background-color: blue;
      }
      
      .aboutbox{
        width: 80%;
        height: 50%;
        right: 10%;
    }
    
    .namebox{
        left:10%;
        width:25%;
    }

    .connectwithme{
        width: 80%;
        top: 70%;
        left: 10%;
        height: 15%;
    }

    .thumbnailconnect{
        width: 10%;
        margin: 1%;    
    }

    .thumbnail{
        width: 35%;
        margin: 5%;    
    }
    
    .topleft {
        top: 35%;
        left: 20%;      
    }

    .topright {
        top: 35%;
        left: 65%;      
    }

    .midleft {
        top: 110%;
        left: 18%;      
    }

    .midright {
        top: 110%;
        left: 55%;      
    }
    
    .botleft {
        top: 180%;
        left: 15%;      
    }

}
 
    /*
      These rules take effect when the browser's width
      is either 640px or less.
    */
    @media screen and (max-device-width: 640px) {
      body {
        background-color: blueviolet;
      }

      head{
        position:static;
      }

      .aboutbox{
        width: 80%;
        height: 50%;
        right: 10%;
    }
    
    .namebox{
        left:10%;
        width:25%;
    }

    .connectwithme{
        width: 80%;
        top: 70%;
        left: 10%;
        height: 15%;
    }

    .thumbnailconnect{
        width: 18%;
        margin: 1%;    
    }

    .thumbnail{
        width: 90%;    
    }

    .topleft {
        top: 80%;
        left: 0%;   
        height: 15%;
        padding-top: 5%;
        width: 100%;
        text-align: center;   
    }

    .topright {
        top: 200%;
        left: 0%;   
        height: 15%;
        padding-top: 5%;
        width: 100%;
        text-align: center;  
    }

    .midleft {
        top: 300%;
        left: 0%;   
        height: 15%;
        padding-top: 5%;
        width: 100%;
        text-align: center;  
    }

    .midright {
        top: 420%;
        left: 0%;   
        height: 15%;
        padding-top: 5%;
        width: 100%;
        text-align: center;  
    }
    
    .botleft {
        top: 520%;
        left: 0%;   
        height: 15%;
        padding-top: 5%;
        width: 100%;
        text-align: center;  
    }

}